<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:util="http://www.springframework.org/schema/util"
       xmlns:p="http://www.springframework.org/schema/p"
       xmlns:c="http://www.springframework.org/schema/c"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
 		http://www.springframework.org/schema/beans
 		http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
 		http://www.springframework.org/schema/util
 		http://www.springframework.org/schema/util/spring-util-3.2.xsd
 		http://www.springframework.org/schema/context
 		http://www.springframework.org/schema/context/spring-context-3.2.xsd">



    <bean class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:client.properties</value>
            </list>
        </property>
        <property name="ignoreResourceNotFound" value="true" />
        <property name="systemPropertiesMode">
            <util:constant
                    static-field="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer.SYSTEM_PROPERTIES_MODE_OVERRIDE" />
        </property>
    </bean>
    <import resource="loggers.xml"/>
    <context:annotation-config/>
    <util:map id="loggerMap">
        <entry key="INFO" value-ref="eventLogger"/>
        <entry key="ERROR" value-ref="combinedLogger"/>
    </util:map>
    <bean id="client" class="com.epam.spring.core.entity.Client"  c:id="${id}" c:fullname="${name}" p:greeting="%{greeting}"/>
    <bean id="app" class="com.epam.spring.core.App" c:client-ref="client" c:loggers-ref="loggerMap" c:eventLogger-ref="fileLogger"/>
    <bean id="event" class="com.epam.spring.core.entity.Event" scope="prototype">
        <constructor-arg>
            <bean class="java.util.Date" scope="prototype"/>
        </constructor-arg>
        <constructor-arg ref="dateFormatter"/>
    </bean>
    <bean id="dateFormatter" class="java.text.DateFormat" factory-method="getDateTimeInstance"/>
</beans>